<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <div style="background-color: #3D0069; color: white ; font-family: 'Merriweather'; font-weight: bold; text-align: center; padding: 40px 0; font-size: 16px;">
    <h1>Interrogation of the Parch & Posey Database</h1>
        by
    
    Buhari Shehu (The Datavestigator)
    

</head>

<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
<h2 style="background-color: #F5E8DA; color: #50006C; font-family: 'Merriweather'; font-weight: bold; font-size: 20px; text-align: center; padding: 10px 0;">
  Introduction
</h2>

In [1]:
%load_ext sql

In [4]:
# Load SQLite database
%sql sqlite:///pandp.db

In [8]:
%%sql
SELECT name
FROM sqlite_master 
WHERE type IN ('table','view') AND name NOT LIKE 'sqlite_%' 
ORDER BY 1

 * sqlite:///pandp.db
Done.

[('accounts',), ('orders',), ('region',), ('sales_reps',), ('web_events',)]

In [7]:
%%sql
SELECT * 
FROM orders
LIMIT 20

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49),
 (6, 1001, '2016-03-02 15:29:32', 103, 24, 46, 173, 513.97, 179.76, 373.52, 1067.25),
 (7, 1001, '2016-04-01 11:20:18', 101, 33, 92, 226, 503.99, 247.17, 747.04, 1498.2),
 (8, 1001, '2016-05-01 15:55:51', 95, 47, 151, 293, 474.05, 352.03, 1226.12, 2052.2),
 (9, 1001, '2016-05-31 21:22:48', 91, 16, 22, 129, 454.09, 119.84, 178.64, 752.57),
 (10, 1001, '2016-06-30 12:32:05', 94, 46, 8, 148, 469.06, 344.54, 64.96, 878.56),
 (11, 1001, '2016-07-30 03:26:30', 101, 36, 0, 137, 503.99, 269.64, 0, 773.63),
 (12, 1001, '2016-08-28 07:13:39', 124, 33, 39, 196, 618.76, 247.17, 316.68, 1182.61),
 (13, 1001, '2016-09-26 23:28:25', 104, 10, 44, 158, 518.96, 74.9, 357.28, 951.14),
 (14, 1001, '2016-10-26 20:31:30', 97, 143, 54, 294, 484.03, 1071.07, 438.48, 1993.58),
 (15, 1001, '2016-11-25 23:21:32', 127, 39, 44, 210, 633.73, 292.11, 357.28, 1283.12),
 (16, 1001, '2016-12-24 05:53:13', 123, 127, 19, 269, 613.77, 951.23, 154.28, 1719.28),
 (17, 1011, '2016-12-21 10:59:34', 527, 14, 0, 541, 2629.73, 104.86, 0, 2734.59),
 (18, 1021, '2015-10-12 02:21:56', 516, 23, 0, 539, 2574.84, 172.27, 0, 2747.11),
 (19, 1021, '2015-11-11 07:37:01', 497, 61, 0, 558, 2480.03, 456.89, 0, 2936.92),
 (20, 1021, '2015-12-11 16:53:18', 483, 0, 21, 504, 2410.17, 0, 170.52, 2580.69)]


<footer style="background-color: #3D0069; color: white ; font-family: 'Merriweather'; font-weight: bold; text-align: center; padding: 20px 0; font-size: 16px;">
    <p style="text-align: center;"> <i>Datavestigating to connect the facts</i> </p>
    <p style="font-size: 14px; text-align: center;">&copy; The Datavestigator</p>   
</footer>